<html>
  <head>
    <link rel="stylesheet" href="qrc:/styles/desc.css" type="text/css" charset="utf-8">
    <style type="text/css">
      body {
        font-family:  {{ TYPE_WRITER_FONT_FAMILY }};
        font-size:  {{ TYPE_WRITER_FONT_SIZE }};
      }
    </style>
  </head>
  <body>
    <div class='commit_description'>
            <table width="100%" border=0 cellspacing=0 cellpadding=2>
              <tr>
                <td><span class="h">Subject</span></td>
                <td>
                  <span>{{ short_log }}</span>
                </td>
              </tr>
              <tr>
                <td>
                  <span class='h'>Author<span>
                </td>
                <td>
                  {{ author }}
                </td>
              </tr>
              {% ifnotequal committer author %}
              <tr>
                <td>
                  <span class='h'>Commiter<span>
                </td>
                <td>
                  {{ committer }}
                </td>
              </tr>
              {% endifnotequal %}
              <tr>
                <td>
                  <span class='h'>Date<span>
                </td>
                <td>
                  {{ author_date }}
                </td>
              </tr>
              <tr>
                <td>
                  <span class='h'>Parents<span>
                </td>
                <td>
                  {% for parent in parents %}
                    <span class="sha">{{ parent }}</span>
                  {% endfor %}
                </td>
              </tr>
            </table>
    </div>
    <hr>
    <div class="l">{{long_log}}</div>
    <div class="changed_files">
      {% if diff_exists %}
      <ul class="tree_diff">
        {% for entry in diff.entries %}
          {% if entry.isNew %}
            <li class="new"><a href="#file_diff_{{entry.id}}">{{ entry.displayedFileName }}</a></li>
          {% endif %}
          {% if entry.isDeleted %}
            <li class="deleted"><a href="#file_diff_{{entry.id}}">{{ entry.displayedFileName }}</a></li>
          {% endif %}
          {% if entry.isRenamed %}
            <li class="renamed"><a href="#file_diff_{{entry.id}}">{{ entry.oldName }} → {{ entry.fileName }}</a></li>
          {% endif %}
          {% if entry.isChanged and not entry.isRenamed %}
            <li class="changed"><a href="#file_diff_{{entry.id}}">{{ entry.displayedFileName }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% else %}
      <strong>No changed files</strong>
      {% endif %}
    </div>
    {% if diff_exists %}
      <div class="diff">
        {% for entry in diff.entries %}
            <a name="file_diff_{{entry.id}}"></a>
            <div class="file_diff">
              <div class="file_diff_meta">
                <h1 class="file_diff_title">{{ entry.displayedFileName }}</h1>
              </div>
              <div class="diff_content_wrapper">
              <table width="100%" class="diff_content">
                {% for hunk in entry.fileDiff.hunks %}
                  {% for line in hunk.lines %}
                    {% if line.adding %}
                      <tr class="diff_line adding">
                    {% endif %}
                    {% if line.deleting %}
                      <tr class="diff_line deleting">
                    {% endif %}
                    {% if line.context %}
                      <tr class="diff_line context">
                    {% endif %}
                      <td class="old_linenumber linenumber">{% if line.hasOldLineNumber %}{{ line.oldLineNumber }}{% endif %}</td>
                      <td class="new_linenumber linenumber">{% if line.hasNewLineNumber %}{{ line.newLineNumber }}{% endif %}</td>
                      <td class="diff_line_content"><code><pre>{{line.content}}</pre></code></td>
                    </tr>
                  {% endfor %}
                  <tr class="hunk_seperator">
                    <td class="old_linenumber linenumber">...</td>
                    <td class="new_linenumber linenumber">...</td>
                    <td class="diff_line_content"></td>
                  </tr>
                {% endfor %}
              </table>
              </div>
            </div>
        {% endfor %}
      </div>
    {% endif %}
  </body>
</html>
